:root{
    --color-fondo: #F3F5FC;
    --color-boton: #D8DFE8;
    --color-blanco: #FFF;
    --color-text-area: #0A3871; /*cambiar a un mejor nombre y las variables*/
    --color-informacion: #495057;
    --color-mensaje: #343A40;
    --imagen-munieco: url('imagenes/Muñeco.png')
}
html {
    font-size: 62.5%; /* 1rem = 10px Parte 1 de 2*/
    box-sizing: border-box; /* Paul Irish sobre Box Model: aplicar un modelo de diseño de caja natural a todos los elementos, pero permitiendo que los componentes cambien */
}
*, *:before, *:after { /* Paul Irish: aplicar un modelo de diseño de caja natural a todos los elementos, pero permitiendo que los componentes cambien */
    box-sizing: inherit;
  }

* {
    background:var(--color-fondo);
    font-family: 'Inter';
    font-weight: 40rem;
    font-size: 3.2rem;
    line-height: 150%; 
}
h1 {
    color: var(--color-text-area);
    font-family: 'Inter';
    padding-top: 1rem;
}
.logo {
    margin: 0 0 0 1rem;
}
body {
    font-size: 16px; /* 1rem = 10px Parte 2 de 2*/
}

.cuerpo {
    display: flex;
    justify-content: center;
    /*border-style: dashed;
    border-color: blue;*/
}
.izquierda{
   /* border-style: dashed;
    border-color: black;*/
    width: 72%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto-de-ingreso{
    border-style: none;
    height: 50rem;
    cursor: pointer;
}
.texto-de-ingreso::placeholder{
    color: var(--color-text-area);
}
.caja-informacion{
    display: flex;
    align-items: center;
    margin-right: 47rem;
    opacity: 0.8;
}
.imagen-informacion{
    padding: 0 1rem;
}
.informacion{
    font-size: 1.2rem;
}
.botones{
    display: flex;
    gap: 8px;
    justify-content: center;
    
}
.btn-encriptar{
    border-radius: 2.4rem;
    background: var(--color-text-area);
    color: var(--color-blanco);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 32.8rem;
    padding: 2.4rem;
    align-items: flex-start;
    cursor: pointer;
    
}
.btn-desencriptar{
    border-radius: 2.4rem;
    border: 0.1rem solid var(--color-text-area);
    background: var(--color-boton);
    color: var(--color-text-area);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 32.8rem;
    padding: 2.4rem;
    align-items: flex-start;
    cursor: pointer;
}
/*Sección Derecha*/
.derecha{
    /*border-style: dashed;
    border-color: red;*/
    width: 28%;
    border-radius: 3.2rem;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mensaje{
    margin: 1rem 0 0 1rem;
    background: var(--imagen-munieco);
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    cursor: pointer;
}
.imagen{
    background-color: var(--color-blanco);
    margin-left: 3.5rem;
}
.leyenda{
    background-color: var(--color-blanco);
    margin-bottom: 18.1rem;
}
.leyenda h3{
    /*color: var(--color-);*/
    text-align: center;
    font-family: 'Inter';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 120%; /* 28.8px */
    background-color: var(--color-blanco);
    margin: 0 auto;
}
.leyenda p{
    color: var(--color-informacion);
    text-align: center;
    font-family: 'Inter';
    font-size: 1.6rem;
    font-style: normal;
    line-height: 150%; /* 24px */
    background-color: var(--color-blanco);
    margin: 0 auto;
}
.copiar{
    display: flex;
    gap: 0.8rem;
    background-color: var(--color-blanco);
    border-radius: inherit;
}
.btn-copiar{
    border-radius: 2.4rem;
    border: 0.1rem solid var(--color-text-area);
    margin: 0 auto;
    width: 33.6rem;
    padding: 2.4rem;
    align-items: flex-start;
    color: var(--color-text-area);
    text-align: center;
    font-size: 1.6rem;
    cursor: pointer;
}
